* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #ff758c, #ff7eb3);
  overflow: hidden;
  color: white;
}

/* CENTER BOX */
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  text-align: center;
  padding: 25px;
  width: 90%;
  max-width: 350px;

  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(12px);
  border-radius: 20px;
}

/* TEXT */
h1 {
  font-size: 24px;
}

.subtitle {
  font-size: 14px;
  margin: 10px 0 20px;
}

/* BUTTON */
button {
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  background: #ff4d6d;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* MESSAGE */
#messageBox {
  margin-top: 20px;
  font-size: 14px;
  min-height: 60px;
}

/* CANVAS */
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
