* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: white;
  overflow: hidden;

  background: linear-gradient(-45deg, #ff758c, #ff7eb3, #6a11cb, #2575fc);
  background-size: 400% 400%;
  animation: bg 10s infinite;
}

@keyframes bg {
  0% {background-position:0%;}
  50% {background-position:100%;}
  100% {background-position:0%;}
}

.hidden {
  display: none;
}

#lockScreen, #intro, #main {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

input {
  padding: 10px;
  border-radius: 20px;
  border: none;
}

button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: #ff4d6d;
  color: white;
}

.loveText {
  font-family: 'Great Vibes';
  font-size: 30px;
}

#quotes {
  margin-top: 15px;
  font-style: italic;
}

#game {
  margin-top: 20px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
